/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/

::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

body {
	background-color: #fff;
	color: #000;
	font: normal 16px/22px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

abbr {
	cursor: help;
}

header {
    padding-bottom: 30px;
}
footer {
    padding-top: 30px;
    text-align: center;
}

.accepted_list {
    min-height: 100px;
    border: 1px black solid;
    
}

ul.prospective_list li span {
}
ul.accepted_list li span {
}
li.story {
border: 3px black solid;
margin: 15px 0px;
padding: 5px;
-webkit-border-radius: 10px;
   -moz-border-radius: 10px;
        border-radius: 10px;
}
li.story span {
    display: block;    
}
li.prospective {
    border-color: #99f;
}

li.accepted {
    border-color: #9f9;
}

li span.title {
    font-size: 20px;
}
li span.source {
    font-weight: 900;
}
li span.trailtext {
    
}

.page {
    
}

.twocol {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
}

.page h2 {
    font-size: 24px;
    padding: 20px 0px 15px 0px;
}

.story h2 {
    font-size: 16px;
    padding: 20px 0px 15px 0px;
/*    column-span: all;
    -moz-column-span: all;
    -webkit-column-span: all;
    */
}

.story img {
    float: left;
    width: 100%;
}

.next {
    font-size: 24px;    
}