{% extends "adminbase.html" %}
{% block javascript %}
<script>
    var edition = {{edition}};
function submit_edition(){
	var pages = $('#accepted_list').sortable("serialize");
	$.post('/edition/'+edition, pages);
	$('#log').empty();
	$('#log').append("<p>"+pages+"</p>");	
}
$(function(){
	$('#story_search').autocomplete({source:'/api/tags.json', select:function(event, ui){
		$('#prospective_list').empty();
		$.getJSON('/api/tag/'+ui.item.id+'.json', function(data) {
			
			$.each(data, function(index, item){
				$('#prospective_list').append("<li class='story prospective' id='"+item.id+"_0'><span class='title'>"+item.headline+"</span><span class='trailtext'>"+item.trailtext+"</span></li></p>");
			});
		});
	}});
	$('#submit-edition').click(function(){
		submit_edition();
	});
	$('#prospective_list').sortable({connectWith: '.accepted_list', revert: true});
	$('#accepted_list').sortable({revert: true, drop: function(ev, ui) {
		submit_edition();
	}});
	$('.story .button').click(function(ev) {
		$(this).parent().remove();
	})
});
</script>
{% endblock	%}
{% block mainbody %}
<div class="grid_24">
	<h2>Article Selector</h2>
</div>
<div class="grid_9 prospective_list">
	<input type="text" id="story_search" name="story_search" placeholder="Band/Album/Keyword">
	 
	<ul id="prospective_list" class="prospective_list drop_target">
	</ul>
</div>
<div class="grid_9">
	<ul id="accepted_list" class="accepted_list drop_target">
		{% for story in pages %}
		<li class="story accepted" id='{{story.guardian_article_id}}_0'>
			<span class="title">{{story.title}}</span>
			<span class="byline">{{story.byline}}</span>
			<span class="trailtext">{{story.trailtext}}</span>
			<span class="button remove">Remove</span>
		</li>
		{% endfor %}
	</ul>
	<a id="submit-edition" class="button">Submit Edition</a>
</div>
<div id="log" class"clear grid_24"></div>
{% endblock %}
